{% load static %}
<html>
    <head>
        <title>Ashwin Verma</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <img src=https://photos.google.com/share/AF1QipP3nqVBtAsBdppLcm0jv4VPGjnegTuXdxjkAMkc2QJvlVr1gqZZfETrBhK2E1QsPg/photo/AF1QipO2VYx0KTmt8PJyRYrRR3sBhll-prYmweuwwzsB?key=blFVSEV0NWZGUHhBeGUzSDBnZHMxMm9xdDFfNkx3 alt="Test"/>
        <img src=https://www.pythonanywhere.com/user/ashwin225/files/home/ashwin225/abc.jpg />
        <img src=https://drive.google.com/uc?id=1lZhYZAG7KiZvqgieH1Sa4NR8S9zkc6ql />
        <img src=https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png />
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Welcome to Ashwin's website</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
